FLASK_SECRET_KEY=your-flask-secret
GOOGLE_CLIENT_ID=your-google-client-id
GCS_BUCKET_NAME=user-content-store
REACT_APP_FRONTEND_URL=http://localhost:3000
GOOGLE_APPLICATION_CREDENTIALS_PATH=path-to-your-credentials.json
JWT_SECRET_KEY=your-jwt-secret
PROJECT_ID=content-orchestration
CONTENT_METADATA_DATABASE_ID=content-metadata
CONTENT_METADATA_COLLECTION_NAME=content-metadata-collection
GEMINI_API_KEY=your-gemini-api-key